In [4]:
import pandas as pd
from glob import glob

In [7]:
files = glob('../data/raw/*.csv')

In [8]:
full_df = None
for f in files:
    print(f)
    df = pd.read_csv(f)
    symbol = f.split('/')[-1].split('\\')[-1].split('.')[0]
    df['Name'] = symbol
    if full_df is None:
        full_df = df
    else:
        full_df = full_df.append(df, ignore_index=True)

../data/raw\ABEV3.csv
../data/raw\AZUL4.csv
../data/raw\B3SA3.csv
../data/raw\BBAS3.csv
../data/raw\BBDC3.csv
../data/raw\BBDC4.csv
../data/raw\BBSE3.csv
../data/raw\BEEF3.csv
../data/raw\BPAC11.csv
../data/raw\BRAP4.csv
../data/raw\BRDT3.csv
../data/raw\BRFS3.csv
../data/raw\BRKM5.csv
../data/raw\BRML3.csv
../data/raw\BTOW3.csv
../data/raw\CCRO3.csv
../data/raw\CIEL3.csv
../data/raw\CMIG4.csv
../data/raw\COGN3.csv
../data/raw\CPFE3.csv
../data/raw\CPLE6.csv
../data/raw\CRFB3.csv
../data/raw\CSAN3.csv
../data/raw\CSNA3.csv
../data/raw\CVCB3.csv
../data/raw\CYRE3.csv
../data/raw\ECOR3.csv
../data/raw\EGIE3.csv
../data/raw\ELET3.csv
../data/raw\ELET6.csv
../data/raw\EMBR3.csv
../data/raw\ENBR3.csv
../data/raw\ENEV3.csv
../data/raw\ENGI11.csv
../data/raw\EQTL3.csv
../data/raw\EZTC3.csv
../data/raw\FLRY3.csv
../data/raw\GGBR4.csv
../data/raw\GNDI3.csv
../data/raw\GOAU4.csv
../data/raw\GOLL4.csv
../data/raw\HAPV3.csv
../data/raw\HGTX3.csv
../data/raw\HYPE3.csv
../data/raw\IGTA3.csv
../data/raw\IRBR3.csv
../data/raw\ITSA4.csv
../data/raw\ITUB4.csv
../data/raw\JBSS3.csv
../data/raw\JHSF3.csv
../data/raw\KLBN11.csv
../data/raw\LAME4.csv
../data/raw\LCAM3.csv
../data/raw\LREN3.csv
../data/raw\MGLU3.csv
../data/raw\MRFG3.csv
../data/raw\MRVE3.csv
../data/raw\MULT3.csv
../data/raw\NTCO3.csv
../data/raw\PCAR3.csv
../data/raw\PETR3.csv
../data/raw\PETR4.csv
../data/raw\PRIO3.csv
../data/raw\QUAL3.csv
../data/raw\RADL3.csv
../data/raw\RAIL3.csv
../data/raw\RENT3.csv
../data/raw\SANB11.csv
../data/raw\SBSP3.csv
../data/raw\SULA11.csv
../data/raw\SUZB3.csv
../data/raw\TAEE11.csv
../data/raw\TIMS3.csv
../data/raw\TOTS3.csv
../data/raw\UGPA3.csv
../data/raw\USIM5.csv
../data/raw\VALE3.csv
../data/raw\VIVT3.csv
../data/raw\VVAR3.csv
../data/raw\WEGE3.csv
../data/raw\YDUQ3.csv

In [9]:
full_df

,Date,Open,High,Low,Close,Adj Close,Volume,Name
0,2016-01-04,17.730000,17.730000,17.209999,17.209999,14.775685,13206900.0,ABEV3
1,2016-01-05,17.250000,17.520000,17.110001,17.480000,15.007494,10774200.0,ABEV3
2,2016-01-06,17.360001,17.480000,17.200001,17.309999,14.861542,7739100.0,ABEV3
3,2016-01-07,17.170000,17.320000,16.850000,16.850000,14.466608,15316400.0,ABEV3
4,2016-01-08,16.930000,17.200001,16.930000,17.070000,14.655489,10684000.0,ABEV3
...,...,...,...,...,...,...,...,...
97604,2021-02-05,33.500000,34.450001,33.009998,34.000000,34.000000,2969700.0,YDUQ3
97605,2021-02-08,33.480000,33.580002,33.080002,33.360001,33.360001,2721600.0,YDUQ3
97606,2021-02-09,33.330002,33.330002,32.430000,32.840000,32.840000,5718800.0,YDUQ3
97607,2021-02-10,32.840000,32.840000,31.590000,32.000000,32.000000,8799200.0,YDUQ3
97608,2021-02-11,32.000000,33.419998,31.840000,33.099998,33.099998,4722900.0,YDUQ3

In [11]:
full_df.to_csv('../data/interim/ibovfull.csv', index=False)